/* CSS reset */

* {
  padding: 0;
  box-sizing: border-box;
  }

/* Pozícionálás */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('http://kaktusz-orchidea.hu/images/aa%20317k.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#profile-card {
  width: 30rem;
  max-width: calc(100vw - 10px);
  text-align: center;
  background-color: rgba(230, 230, 230, .7);
  border-radius: 5%;
  box-shadow: hsla(0, 10%, 10%, .8) 10px 10px 80px;
  border: 4px solid gray;
  color: cerise;
}

#head, #content {
  width: 70%;
  margin: 2rem auto;
}

img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  float: left;
}

#content {
 text-align: justify;
  clear: both;
}

img {
  border: 5px solid white;
  background-color: white;
  transition: all 0.5s ease-in-out;
   filter:contrast(100%);
}

img:hover {
  transform: scale(1.1);
   filter:contrast(120%);
  }

p {font-size: 1.2rem;}

#links{text-align: center;}

a {opacity: .5}

a:hover {opacity: 1}